.not-found {
  /* The image used */
  background-image: url('/static/img/404PageBackground.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.exception {
  font-size: 20px;
}
.not-found_img {
  img {
    position: fixed;
    width: 100%;
    // height: 100%;
  }
}
