@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap&subset=vietnamese');

$base-size: 16;
@function rem($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'PingFang  SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  position: relative;
  color: #212833;
  background: #e9ebee;
  font-size: rem(14);
}
textarea:focus,
input:focus {
  outline: none;
}
// a {
//   // color: #4a90e2;
//   text-decoration: none;
//   // font-family: DINPro-Medium;
// }
// a:hover {
//   text-decoration: underline;
// }

.medium-zoom-overlay {
  z-index: 9999;
}

.medium-zoom-image--opened {
  z-index: 10000;
}

.memory-modal-enter {
  transform: scale(0.5);
  opacity: 0;
}

.memory-modal-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 700ms, transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.memory-modal-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.timeline-blog-appear {
  opacity: 0;
}

.timeline-blog-appear-active {
  opacity: 1;
  transition: opacity 1000ms;
}
