.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}
.cropper-face {
  background-color: transparent;
}
.cropper-line {
  background-color: transparent;
}
